/* site global settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial";
}
@font-face {
  font-family: "Jersey 10";
  src: url(./font/Jersey10-Regular.ttf);
}
:root {
  --primary-color-dark: black;
  --secondary-color: #0900ff;
  --color-white: white;
  --bg-color-ad: #d2d1ff;
  --padding-between-sections: 15px;
}

.heading__h1 {
  font-size: 35px;
  font-weight: bolder;
}
.heading__h2 {
  font-weight: 800;
  font-size: 32px;
}

.heading__h3 {
  font-weight: 500;
  font-size: 26px;
}

.heading__h4 {
  font-weight: 300;
  font-size: 24px;
}

.heading__h5 {
  font-weight: 400;
  font-size: 22px;
}

.copyright {
  font-weight: 400;
  font-size: 14px;
}
.support__h4 {
  font-family: "Jersey 10", "Roboto";
  color: var(--secondary-color);
  text-align: center;
  font-weight: bolder;
  margin-top: 10px;
}

.btn {
  background: none;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

.btn-main-blue {
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 16px;
  font-weight: 800;
  color: var(--secondary-color);
}

.btn-main-blue:hover {
  background-color: var(--secondary-color);
  color: var(--color-white);
}

.btn_white {
  border: 2px solid var(--color-white);
  border-radius: 15px;
  padding: 5px 25px;
  font-size: 16px;
  font-weight: 800;
  color: var(--color-white);
}

.btn_white:hover {
  background-color: var(--color-white);
  color: var(--secondary-color);
  border-color: var(--color-white);
}

.btn-large {
  padding: 10px 30px;
  border-radius: 25px;
}
.paragraph {
  font-size: 14px;
}

#logo {
  max-width: 220px;
  height: auto;
}

/* MEDIA QUERIES */

@media (min-width: 1200px) {
  .heading__h1 {
    font-size: 55px;
  }
  .heading__h2 {
    font-weight: 700;
    font-size: 34px;
  }

  .heading__h3 {
    font-weight: 700;
    font-size: 28px;
  }

  .heading__h4 {
    font-size: 26px;
  }

  .support__h4 {
    font-size: 40px;
  }

  .heading__h5 {
    font-weight: 400;
    font-size: 18px;
  }

  .paragraph {
    font-size: 16px;
  }
}

/* header */

#header {
  min-height: 90px;
  background-color: var(--secondary-color);
  margin-bottom: 20px;
}


.logo_header, .box-logo {
  display: flex;
  justify-content: center;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

.navigation {
  flex: 1;
}
.search_header {
  flex: 1;
  justify-content: end;
  display: flex;
  align-items: center;
}

.logo_header {
  flex: 2;
}

.search__field {
  display: none;
}

.button-header {
  width: 50px;
}

.icon__search {
  transform: scale(70%);
}

.nav__link {
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 30px;
  font-weight: 600;
}

/* HAMBURGER MENU */

#menuToggle {
  display: block;

  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle .nav__link {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

#menuToggle .nav__link:hover {
  background-color: var(--secondary-color);
  color: var(--color-white);
}

#menuToggle .hamburger__checkbox {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

#menuToggle .hamburger__icon {
  display: block;
  width: 30px;
  height: 6px;
  margin-top: 5px;
  position: relative;
  background: var(--color-white);
  z-index: 1;
}

#menu {
  position: absolute;
  max-width: 400px;
  width: 100vw;
  height: 100vh;
  margin: -58px 0 0 -50px;
  padding: 50px;
  padding-top: 85px;
  box-sizing: border-box;
  overflow-y: auto;
  background: var(--bg-color-ad);
  list-style-type: none;
  transform: translate(-2000%, 0);
}

#menu .list__item {
  padding: 10px 0;
  font-size: 18px;
  margin-top: 5px;
}

#menuToggle .hamburger__checkbox:checked ~ .hamburger__icon {
  background: black;
}

#menuToggle .hamburger__checkbox:checked ~ .nav-header {
  transform: translate(0, 0);
}

/* MAIN */
#main {
  padding: 0 25px;
}
.all-categories {
  display: none;
}

.main__h2 {
  text-align: center;
  background-color: var(--bg-color-ad);
  padding: 10px 0;
}

.article__h3 {
  margin-top: 10px;
  color: var(--secondary-color);
}

.article__link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.article__link {
  text-decoration: none;
  color: var(--primary-color-dark);
}

.article__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.article__text {
  margin: 10px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.categories-author__date {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-end;
  gap: 10px;
}
.author__date {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.article__categories {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.author a {
  color: var(--primary-color-dark);
  font-style: normal;
  text-decoration: underline;
}

.author a:hover {
  font-weight: 700;
}

.grid {
  padding: var(--padding-between-sections) 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.line {
  height: 1px;
  border-width: 0;
  margin: var(--padding-between-sections) 0;
}
.main-blue__line {
  color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.white__line {
  color: white;
  background-color: white;
  width: 100%;
}

.show-more__btn {
  display: flex;
  justify-content: center;
}

.btn-category {
  margin-top: 25px;
}

/* support section */

.main-support__ad {
  padding: 10px 20px;
  margin: 0 auto;
  background-color: var(--bg-color-ad);
  border-radius: 85px;
}

.support-ad__content {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  gap: 15px;
}

.ad-content__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad-content__p {
  font-weight: 500;
}

.ad-content__thanks {
  text-align: center;
  font-size: 10px;
}

.ad-content__btn:hover {
  background-color: var(--secondary-color);
  color: var(--color-white);
}

/* footer */

#footer-section {
  margin-top: 30px;
  background-color: var(--secondary-color);
  padding: 20px 15px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.footer-logo {
  font-size: 70px;
}
.box-logo {
  align-self: center;
}

.link-footer {
  color: white;
  border: 2px solid var(--color-white);
}

.link-footer:hover {
  background-color: var(--color-white);
  color: var(--secondary-color);
  border-color: var(--color-white);
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.social__footer {
  max-width: 50px;
}
.social-logos {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.list__item {
  list-style-type: none;
}

.nav-footer .list__item {
  margin-top: 3px;
}
.socials__h5,
.copyright {
  color: white;
}

.footer__copyright {
  width: 100%;
  text-align: center;
}
.copyright__h4 {
  color: white;
  margin-bottom: 15px;
}

/* MEDIA QURIES */

@media (min-width: 768px) {
  .all-categories {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: var(--padding-between-sections);
    margin-bottom: var(--padding-between-sections);
    border-bottom: 3px solid var(--secondary-color);
    gap: 30px;
  }

  .all-categories .btn {
    flex: 1;
  }

  .search__field {
    display: block;
    flex: 1;
    max-width: 300px;
    padding: 8px;
    border-radius: 30px;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .main-support__ad {
    max-width: 700px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #logo {
    transform: scale(130%);

  }
  .grid {
    grid-template-columns: repeat(2, minmax(400px, 1fr));
  }

  .main-support__ad {
    max-width: 750px;
  }
}

@media (min-width: 1200px) {
  #logo {
    transform: scale(140%);
  }
  #main {
    max-width: 900px;
    margin: 0 auto;
  }

  .footer-wrapper {
    max-width: 95%;
    margin: 0 auto;
  }

  .grid {
    gap: 3rem;
  }

  .grid__easy .article__grid {
    display: flex;
    gap: 50px;
  }
  .grid__easy .article__img {
    width: 400px;
    height: 300px;
  }

  .grid__categories {
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    gap: 25px;
  }

  .grid__categories .article__grid {
    flex-direction: column;
    gap: 20px;
  }

  .grid__categories .article__grid .article__img {
    width: 100%;
  }

  .article__text {
    -webkit-line-clamp: 6;
    line-clamp: 6;
  }

  .article__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }

  .article__h3 {
    margin-top: 0;
  }

  .grid__complex {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 25px;
  }

  .grid__complex .article__img {
    width: 100%;
    height: 170px;
    margin-bottom: 5px;
  }

  .grid__complex .article__h3 {
    font-size: 20px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .grid__complex .article__text,
  .grid__complex .categories-author__date {
    display: none;
  }

  .article__2x1 {
    grid-column: span 2;
  }

  .article__1x2 {
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .article__1x2 .article__img {
    width: 100%;
    height: 98%;
  }

  .article__1x2 .article__link {
    flex: 1;
  }

  .article__2x1 .article__img {
    width: 100%;
    max-height: 100%;
  }

  .main-support__ad {
    max-width: 800px;
  }

  .ad-content__thanks {
    font-size: 14px;
  }

  .footer-wrapper {
    flex-direction: row;
    gap: 20px;
  }

  #footer-section .white__line.line {
    display: none;
  }

  .footer__nav {
    order: 3;
  }

  .socials.footer-box {
    width: auto;
    flex-direction: column;
    align-items: start;
  }

  .footer-box {
    flex: 1;
  }

  .box-logo {
    order: 2;
    flex: 3;
  }

  .footer-logo {
    font-size: 80px;
    text-align: center;
  }

  .footer__copyright {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid white;
  }

  .socials_address {
    margin-bottom: 30px;
  }

  .ad-content__thanks {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

@media (min-width: 1400px) {
  #main {
    max-width: 1000px;
  }

  .grid__easy .article__img {
    width: 450px;
    height: 337.5px;
  }

  .article__text {
    -webkit-line-clamp: 8;
    line-clamp: 8;
  }
}
